.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kanban-board {
  background-color: #f4f6fa;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.ticket-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ticket-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-priority {
  display: flex;
  align-items: center;
}

.ticket-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #282c34;
}

.priority-icon,
.status-icon {
  width: 16px;
  height: 16px;
}

.kanban-board {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.columns {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  gap: 1rem;
  overflow-x: auto;
  height: calc(100vh - 2rem); 
}

.column {
  width: 30vw; 
  align-items: center;
  margin-right: 4%;
  border-radius: 8px;
  padding: 1rem; 
}

.column-header h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.column h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ticket-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 30vw; 
  height: auto; 
}

.ticket-header h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.ticket-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ticket-priority,
.ticket-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priority-icon,
.status-icon {
  width: 16px;
  height: 16px;
}

.ticket-priority span,
.ticket-status span {
  font-size: 0.9rem;
  color: #555;
}

.dropdown-container {
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  z-index: 1000;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dropdown-button {
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
  transition: box-shadow 0.4s ease;
}

.dropdown-button:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.display-icon {
  width: 16px;
  height: 16px;
}

.dropdown-button svg {
  transition: transform 0.2s ease;
}

.dropdown-button:focus svg {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 40px;
  margin-top: 0.5rem;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 300px;
  padding: 1rem;
}

.dropdown-section {
  display: flex;
  margin-bottom: 1rem;
}

.dropdown-section:last-child {
  margin-bottom: 0;
}

.dropdown-section label {
  display: block;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.3rem;
}

.dropdown-section select {
  width: 100%;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  margin-left: 100px;
}

.dropdown-section select:hover {
  border-color: #ccc;
}

.status-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.ticket-count {
  font-size: 1rem;
  color: #666;
  margin-left: auto;
  padding-left: 0.5rem;
}

.column-label {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.column-header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 10px;
}

.column-header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 10px;
}

.ticket-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.ticket-tag {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-width: 0.2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #94989f;
}

.priority-icon-detail {
  display: inline-block;
  padding: 0.2rem 0.2rem;
  border-width: 0.2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #94989f;
  text-transform: uppercase;
}

.ticket-id {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.3rem;
}

@media (max-width: 768px) {
  .columns {
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .column, .ticket-card {
    width: 90%; 
  }
}
@media (max-width: 1024px) {
  .dropdown-button {
    margin-left: 25%;
  }
}

@media (max-width: 768px) {
  .dropdown-button {
    margin-left: 10%;
  }
}

@media (max-width: 480px) {
  .dropdown-button {
    margin-left: 5%; 
  }
}

